<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>IndexController</display-name>
  	<servlet-name>IndexController</servlet-name>
  	<servlet-class>servlets.IndexController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>IndexControllerTest</display-name>
  	<servlet-name>IndexControllerTest</servlet-name>
  	<servlet-class>servlets.IndexControllerTest</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateArticle</display-name>
  	<servlet-name>CreateArticle</servlet-name>
  	<servlet-class>servlets.CreateArticle</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveArticle</display-name>
  	<servlet-name>RemoveArticle</servlet-name>
  	<servlet-class>servlets.RemoveArticle</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProfilController</display-name>
  	<servlet-name>ProfilController</servlet-name>
  	<servlet-class>servlets.ProfilController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexController</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexControllerTest</servlet-name>
  	<url-pattern>/IndexControllerTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateArticle</servlet-name>
  	<url-pattern>/CreateArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveArticle</servlet-name>
  	<url-pattern>/RemoveArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfilController</servlet-name>
  	<url-pattern>/ProfilController</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <listener>
    <listener-class>config.InitialisationDAOFactory</listener-class>
  </listener>
</web-app>